# Python
__pycache__/
*.py[cod]
*$py.class
user_data/

user_data.json
deepseek_api_key.txt

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
*.iml
.vscode/

# Compiled UI files
*.ui.autosave

# Windows
Thumbs.db
Desktop.ini

# Build output
*.spec
*.exe

# Logs
*.log
*.json